html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(74,74,74);
}

#header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  max-width: 100%;
  align-items: center;
  margin: 0 24px 0 24px;
}

body {
  margin: 0px;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: rgb(74,74,74);
  height: 32px;
  font-size: 20px;
}

.logo p {
  margin: 0;
}

.logo img {
  vertical-align: middle;
  height: 32px;
}

.navigation {
  font-size: 16px;
  color: rgb(74,74,74);
}

.navigation a {
  margin-right: 16px;
}

#intro {
  display: flex;
  width: 100%;
  background-color: lightgray;
  align-items: center;
  flex-wrap: wrap;
}

.intro-img {
  max-width: 60%;
  margin: 32px 24px;
}

.intro-img img {
  max-width: 100%;
}

.intro-text {
  max-width: 25%;
  color: rgb(74,74,74);
}

.intro-text h3 {
  line-height: 1.5;
}

.start-button {
  background-color: rgb(74,74,74);
  color: lightgray;
  text-align: center;
  padding: 8px 0;
  font-weight: normal;
  margin-top: 32px;
}

#university-info {
  display: flex;
  background-color: rgb(243,245,245);
  width: 100%;
}

.quote {
  max-width: 60%;
  margin: 32px 24px 0;
}

.quote img {
  max-width: 100%;
}

.quote h2 {
  font-size: 32px;
}

.quote p {
  line-height: 1.5;
  margin: 24px 0px 32px;
}

.quote strong {
  margin-bottom: 32px;
}

.uni-info {
  display: inline-block;
  max-width: 40%;
  margin: 16px 0;
}

.uni-info img {
  width: 35%;
  height: auto;
}

.uni-info .details {
  width: 65%;
  margin-left: 16px;
}

.uni-info p {
  margin: 8px 0;
  line-height: 1.5;
}

.uni-info h3 {
  margin: 0;
}

.uni-info a {
  color: blue;
}

.orientation, .campus, .guest-lecture {
  display: inline-flex;
  align-items: center;
  padding: 16px 16px;
}

.guest-lecture {
  background-color: lightgray;
}

#start-learning {
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  padding: 0 56px;
  max-width: 100%;
}

#start-learning h2{
  margin: 32px 0;
  width: 100%;
  text-align: center;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.software-eng, .computer-art, .design, .data, .business, .marketing {
  width: 30.5%;
  background-color: rgb(243,245,245);
  margin: 0 16px 32px;
  padding-bottom: 24px;
}

.courses-img {
  height: auto;
  max-width: 100%;
  margin-bottom: 8px;
}

.text {
  margin: 8px 16px 0;
  line-height: 1.5;
}

.uppercase {
  text-transform: uppercase;
  margin: 8px 16px 0;
  line-height: 1.5;
}

#thesis-exhibit {
  display: inline-block;
  width: 100%;
}

#thesis-exhibit h2 {
  text-align: center;
  margin: 32px 0px;
}

.thesis-sec {
  display: flex;
  width: 100%;
}

.spotlight {
  display: inline-block;
  max-width: 60%;
  margin: 0 24px 32px;
}

.spotlight video {
  width: 100%;
}

.spotlight h3 {
  margin: 24px 0 8px;
  line-height: 1.5;
}

.spotlight p {
  margin: 0;
  line-height: 1.5;
}

.thesis-feat {
  display: inline-block;
  max-width: 40%;
}

.fisma, .now-and-then {
  display: flex;
  width: 100%;
  align-items: center;
}

.thesis-feat img {
  width: 35%;
  height: auto;
  margin: 16px;
}

.thesis-feat .details {
  width: 65%;
  line-height: 1.5;
}

.thesis-feat .details h3 {
  margin: 0;
}

.thesis-feat .details p {
  margin: 8px 0;
}

.fisma {
  background-color: lightgray;
}